<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpm.mes.stock.server.mapper.base.MesWmsStockcurrentsumMapper">

      <sql id="Base_Column_List">
         id, material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name     
      </sql>
      
      <sql id="query_List">
                  xxx.id AS id,
         xxx.material_id AS materialId,
         xxx.material_code AS materialCode,
         xxx.material_short_name AS materialShortName,
         xxx.material_spec AS materialSpec,
         xxx.material_tr_id AS materialTrId,
         xxx.units_id AS unitsId,
         xxx.units_name AS unitsName,
         xxx.qty AS qty,
         xxx.qty_allot AS qtyAllot,
         xxx.qty_useable AS qtyUseable,
         xxx.qty_freeze AS qtyFreeze,
         xxx.stock_qty AS stockQty,
         xxx.organization_id AS organizationId,
         xxx.organization_code AS organizationCode,
         xxx.organization_name AS organizationName,
         xxx.create_id AS createId,
         xxx.create_name AS createName,
         xxx.create_time AS createTime,
         xxx.update_id AS updateId,
         xxx.update_name AS updateName,
         xxx.update_time AS updateTime,
         xxx.remark AS remark,
         xxx.is_valid AS isValid,
         xxx.stock_id AS stockId,
         xxx.stock_code AS stockCode,
         xxx.stock_name AS stockName,
         xxx.company_id AS companyId,
         xxx.company_code AS companyCode,
         xxx.company_name AS companyName,
      </sql>

    <resultMap type="com.bpm.mes.stock.server.domain.MesWmsStockcurrentsum" id="MesWmsStockcurrentsumMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="materialId" column="material_id" jdbcType="INTEGER"/>
        <result property="materialCode" column="material_code" jdbcType="VARCHAR"/>
        <result property="materialShortName" column="material_short_name" jdbcType="VARCHAR"/>
        <result property="materialSpec" column="material_spec" jdbcType="VARCHAR"/>
        <result property="materialTrId" column="material_tr_id" jdbcType="VARCHAR"/>
        <result property="unitsId" column="units_id" jdbcType="INTEGER"/>
        <result property="unitsName" column="units_name" jdbcType="VARCHAR"/>
        <result property="qty" column="qty" jdbcType="VARCHAR"/>
        <result property="qtyAllot" column="qty_allot" jdbcType="VARCHAR"/>
        <result property="qtyUseable" column="qty_useable" jdbcType="VARCHAR"/>
        <result property="qtyFreeze" column="qty_freeze" jdbcType="VARCHAR"/>
        <result property="stockQty" column="stock_qty" jdbcType="VARCHAR"/>
        <result property="organizationId" column="organization_id" jdbcType="INTEGER"/>
        <result property="organizationCode" column="organization_code" jdbcType="VARCHAR"/>
        <result property="organizationName" column="organization_name" jdbcType="VARCHAR"/>
        <result property="createId" column="create_id" jdbcType="INTEGER"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateId" column="update_id" jdbcType="INTEGER"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isValid" column="is_valid" jdbcType="VARCHAR"/>
        <result property="stockId" column="stock_id" jdbcType="INTEGER"/>
        <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
        <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <result property="companyCode" column="company_code" jdbcType="VARCHAR"/>
        <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
    </resultMap>
    
    
        <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MesWmsStockcurrentsumMap">
        select
          <include refid="Base_Column_List" />
        from mes_wms_stockcurrentsum
        <where>
        is_valid = '1'
            <if test="id != null">
                and id = #{id}                
            </if>
            <if test="materialId != null">
                and material_id = #{materialId}                
            </if>
            <if test="materialCode != null and materialCode != ''">
                and material_code  like concat('%',#{materialCode},'%')                
            </if>
            <if test="materialShortName != null and materialShortName != ''">
                and material_short_name  like concat('%',#{materialShortName},'%')                
            </if>
            <if test="materialSpec != null and materialSpec != ''">
                and material_spec  like concat('%',#{materialSpec},'%')                
            </if>
            <if test="materialTrId != null and materialTrId != ''">
                and material_tr_id  like concat('%',#{materialTrId},'%')                
            </if>
            <if test="unitsId != null">
                and units_id = #{unitsId}                
            </if>
            <if test="unitsName != null and unitsName != ''">
                and units_name  like concat('%',#{unitsName},'%')                
            </if>
            <if test="qty != null">
                and qty                 
            </if>
            <if test="qtyAllot != null">
                and qty_allot                 
            </if>
            <if test="qtyUseable != null">
                and qty_useable                 
            </if>
            <if test="qtyFreeze != null">
                and qty_freeze                 
            </if>
            <if test="stockQty != null">
                and stock_qty                 
            </if>
            <if test="organizationId != null">
                and organization_id = #{organizationId}                
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                and organization_code  like concat('%',#{organizationCode},'%')                
            </if>
            <if test="organizationName != null and organizationName != ''">
                and organization_name  like concat('%',#{organizationName},'%')                
            </if>
            <if test="createId != null">
                and create_id = #{createId}                
            </if>
            <if test="createName != null and createName != ''">
                and create_name  like concat('%',#{createName},'%')                
            </if>
            <if test="createTime != null">
                and create_time                 
            </if>
            <if test="updateId != null">
                and update_id = #{updateId}                
            </if>
            <if test="updateName != null and updateName != ''">
                and update_name  like concat('%',#{updateName},'%')                
            </if>
            <if test="updateTime != null">
                and update_time                 
            </if>
            <if test="remark != null and remark != ''">
                and remark  like concat('%',#{remark},'%')                
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid  like concat('%',#{isValid},'%')                
            </if>
            <if test="stockId != null">
                and stock_id = #{stockId}                
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code  like concat('%',#{stockCode},'%')                
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name  like concat('%',#{stockName},'%')                
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}                
            </if>
            <if test="companyCode != null and companyCode != ''">
                and company_code  like concat('%',#{companyCode},'%')                
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name  like concat('%',#{companyName},'%')                
            </if>
        </where>
        order by id desc
    </select>
    

    <!--查询单个-->
    <select id="queryById" resultMap="MesWmsStockcurrentsumMap">
        select
          id, material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name
        from mes_wms_stockcurrentsum
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MesWmsStockcurrentsumMap">
        select
          id, material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name
        from mes_wms_stockcurrentsum
        <where>
        is_valid = '1'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="materialId != null">
                and material_id = #{materialId}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and material_code = #{materialCode}
            </if>
            <if test="materialShortName != null and materialShortName != ''">
                and material_short_name = #{materialShortName}
            </if>
            <if test="materialSpec != null and materialSpec != ''">
                and material_spec = #{materialSpec}
            </if>
            <if test="materialTrId != null and materialTrId != ''">
                and material_tr_id = #{materialTrId}
            </if>
            <if test="unitsId != null">
                and units_id = #{unitsId}
            </if>
            <if test="unitsName != null and unitsName != ''">
                and units_name = #{unitsName}
            </if>
            <if test="qty != null">
                and qty = #{qty}
            </if>
            <if test="qtyAllot != null">
                and qty_allot = #{qtyAllot}
            </if>
            <if test="qtyUseable != null">
                and qty_useable = #{qtyUseable}
            </if>
            <if test="qtyFreeze != null">
                and qty_freeze = #{qtyFreeze}
            </if>
            <if test="stockQty != null">
                and stock_qty = #{stockQty}
            </if>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                and organization_code = #{organizationCode}
            </if>
            <if test="organizationName != null and organizationName != ''">
                and organization_name = #{organizationName}
            </if>
            <if test="createId != null">
                and create_id = #{createId}
            </if>
            <if test="createName != null and createName != ''">
                and create_name = #{createName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateId != null">
                and update_id = #{updateId}
            </if>
            <if test="updateName != null and updateName != ''">
                and update_name = #{updateName}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid = #{isValid}
            </if>
            <if test="stockId != null">
                and stock_id = #{stockId}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code = #{stockCode}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name = #{stockName}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="companyCode != null and companyCode != ''">
                and company_code = #{companyCode}
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name = #{companyName}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
    
    

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from mes_wms_stockcurrentsum
        <where>
        is_valid = '1'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="materialId != null">
                and material_id = #{materialId}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and material_code = #{materialCode}
            </if>
            <if test="materialShortName != null and materialShortName != ''">
                and material_short_name = #{materialShortName}
            </if>
            <if test="materialSpec != null and materialSpec != ''">
                and material_spec = #{materialSpec}
            </if>
            <if test="materialTrId != null and materialTrId != ''">
                and material_tr_id = #{materialTrId}
            </if>
            <if test="unitsId != null">
                and units_id = #{unitsId}
            </if>
            <if test="unitsName != null and unitsName != ''">
                and units_name = #{unitsName}
            </if>
            <if test="qty != null">
                and qty = #{qty}
            </if>
            <if test="qtyAllot != null">
                and qty_allot = #{qtyAllot}
            </if>
            <if test="qtyUseable != null">
                and qty_useable = #{qtyUseable}
            </if>
            <if test="qtyFreeze != null">
                and qty_freeze = #{qtyFreeze}
            </if>
            <if test="stockQty != null">
                and stock_qty = #{stockQty}
            </if>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                and organization_code = #{organizationCode}
            </if>
            <if test="organizationName != null and organizationName != ''">
                and organization_name = #{organizationName}
            </if>
            <if test="createId != null">
                and create_id = #{createId}
            </if>
            <if test="createName != null and createName != ''">
                and create_name = #{createName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateId != null">
                and update_id = #{updateId}
            </if>
            <if test="updateName != null and updateName != ''">
                and update_name = #{updateName}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="isValid != null and isValid != ''">
                and is_valid = #{isValid}
            </if>
            <if test="stockId != null">
                and stock_id = #{stockId}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code = #{stockCode}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name = #{stockName}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="companyCode != null and companyCode != ''">
                and company_code = #{companyCode}
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name = #{companyName}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mes_wms_stockcurrentsum(material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name)
        values (#{materialId}, #{materialCode}, #{materialShortName}, #{materialSpec}, #{materialTrId}, #{unitsId}, #{unitsName}, #{qty}, #{qtyAllot}, #{qtyUseable}, #{qtyFreeze}, #{stockQty}, #{organizationId}, #{organizationCode}, #{organizationName}, #{createId}, #{createName}, #{createTime}, #{updateId}, #{updateName}, #{updateTime}, #{remark}, #{isValid}, #{stockId}, #{stockCode}, #{stockName}, #{companyId}, #{companyCode}, #{companyName})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mes_wms_stockcurrentsum(material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.materialId}, #{entity.materialCode}, #{entity.materialShortName}, #{entity.materialSpec}, #{entity.materialTrId}, #{entity.unitsId}, #{entity.unitsName}, #{entity.qty}, #{entity.qtyAllot}, #{entity.qtyUseable}, #{entity.qtyFreeze}, #{entity.stockQty}, #{entity.organizationId}, #{entity.organizationCode}, #{entity.organizationName}, #{entity.createId}, #{entity.createName}, #{entity.createTime}, #{entity.updateId}, #{entity.updateName}, #{entity.updateTime}, #{entity.remark}, #{entity.isValid}, #{entity.stockId}, #{entity.stockCode}, #{entity.stockName}, #{entity.companyId}, #{entity.companyCode}, #{entity.companyName})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mes_wms_stockcurrentsum(material_id, material_code, material_short_name, material_spec, material_tr_id, units_id, units_name, qty, qty_allot, qty_useable, qty_freeze, stock_qty, organization_id, organization_code, organization_name, create_id, create_name, create_time, update_id, update_name, update_time, remark, is_valid, stock_id, stock_code, stock_name, company_id, company_code, company_name)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.materialId}, #{entity.materialCode}, #{entity.materialShortName}, #{entity.materialSpec}, #{entity.materialTrId}, #{entity.unitsId}, #{entity.unitsName}, #{entity.qty}, #{entity.qtyAllot}, #{entity.qtyUseable}, #{entity.qtyFreeze}, #{entity.stockQty}, #{entity.organizationId}, #{entity.organizationCode}, #{entity.organizationName}, #{entity.createId}, #{entity.createName}, #{entity.createTime}, #{entity.updateId}, #{entity.updateName}, #{entity.updateTime}, #{entity.remark}, #{entity.isValid}, #{entity.stockId}, #{entity.stockCode}, #{entity.stockName}, #{entity.companyId}, #{entity.companyCode}, #{entity.companyName})
        </foreach>
        on duplicate key update
        material_id = values(material_id),
        material_code = values(material_code),
        material_short_name = values(material_short_name),
        material_spec = values(material_spec),
        material_tr_id = values(material_tr_id),
        units_id = values(units_id),
        units_name = values(units_name),
        qty = values(qty),
        qty_allot = values(qty_allot),
        qty_useable = values(qty_useable),
        qty_freeze = values(qty_freeze),
        stock_qty = values(stock_qty),
        organization_id = values(organization_id),
        organization_code = values(organization_code),
        organization_name = values(organization_name),
        create_id = values(create_id),
        create_name = values(create_name),
        create_time = values(create_time),
        update_id = values(update_id),
        update_name = values(update_name),
        update_time = values(update_time),
        remark = values(remark),
        is_valid = values(is_valid),
        stock_id = values(stock_id),
        stock_code = values(stock_code),
        stock_name = values(stock_name),
        company_id = values(company_id),
        company_code = values(company_code),
        company_name = values(company_name)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mes_wms_stockcurrentsum
        <set>
            <if test="materialId != null">
                material_id = #{materialId},
            </if>
            <if test="materialCode != null and materialCode != ''">
                material_code = #{materialCode},
            </if>
            <if test="materialShortName != null and materialShortName != ''">
                material_short_name = #{materialShortName},
            </if>
            <if test="materialSpec != null and materialSpec != ''">
                material_spec = #{materialSpec},
            </if>
            <if test="materialTrId != null and materialTrId != ''">
                material_tr_id = #{materialTrId},
            </if>
            <if test="unitsId != null">
                units_id = #{unitsId},
            </if>
            <if test="unitsName != null and unitsName != ''">
                units_name = #{unitsName},
            </if>
            <if test="qty != null">
                qty = #{qty},
            </if>
            <if test="qtyAllot != null">
                qty_allot = #{qtyAllot},
            </if>
            <if test="qtyUseable != null">
                qty_useable = #{qtyUseable},
            </if>
            <if test="qtyFreeze != null">
                qty_freeze = #{qtyFreeze},
            </if>
            <if test="stockQty != null">
                stock_qty = #{stockQty},
            </if>
            <if test="organizationId != null">
                organization_id = #{organizationId},
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                organization_code = #{organizationCode},
            </if>
            <if test="organizationName != null and organizationName != ''">
                organization_name = #{organizationName},
            </if>
            <if test="createId != null">
                create_id = #{createId},
            </if>
            <if test="createName != null and createName != ''">
                create_name = #{createName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="updateName != null and updateName != ''">
                update_name = #{updateName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="isValid != null and isValid != ''">
                is_valid = #{isValid},
            </if>
            <if test="stockId != null">
                stock_id = #{stockId},
            </if>
            <if test="stockCode != null and stockCode != ''">
                stock_code = #{stockCode},
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name = #{stockName},
            </if>
            <if test="companyId != null">
                company_id = #{companyId},
            </if>
            <if test="companyCode != null and companyCode != ''">
                company_code = #{companyCode},
            </if>
            <if test="companyName != null and companyName != ''">
                company_name = #{companyName},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mes_wms_stockcurrentsum where id = #{id}
    </delete>
    
    <!--通过主键逻辑删除-->
    <delete id="updateById">
        update mes_wms_stockcurrentsum set is_valid = '0' where id = #{id}
    </delete>

</mapper>

