<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bpm.mes.stock.server.mapper.ext.MesWmsStockcurrentExtMapper">
    <select id="selectStock" resultType="com.bpm.mes.stock.server.vo.MesWmsStockcurrentStockVo">
        SELECT "id",
               stock_code AS stockCode,
               stock_name AS stockName,
               stock_type AS stockType
        FROM mes_wms_stock
        WHERE is_valid = '1'
    </select>
    <select id="selectStockPlace" resultType="com.bpm.mes.stock.server.dto.MesWmsStockmoveplaceNewstDto">
        SELECT "id"             as stockPlaceId,
               stock_place_code AS stockPlaceCode,
               stock_place_name AS stockPlaceName,
               stock_id         AS stockId,
               stock_code       AS stockCode,
               stock_name       AS stockName
        FROM mes_wms_stockplace
        WHERE is_valid = '1'
          and stock_id = #{stockId}
    </select>
<!--    <select id="querySome" resultType="com.bpm.mes.stock.server.domain.MesWmsStockcurrent">-->
<!--        select id,-->
<!--               material_code,-->
<!--               material_short_name,-->
<!--               units_name,-->
<!--               qty,-->
<!--               suppliar_name,-->
<!--               batch_no,-->
<!--               stock_place_name-->
<!--        from mes_wms_stockcurrent-->
<!--        where 1 = 1-->
<!--          and stock_place_name = #{stockName}-->
<!--    </select>-->
</mapper>